@import './style/variable.css';

@font-face {
  font-family: 'HarmonyOS_Sans_Regular';
  font-style: normal;
  src: url('./assets/fonts/HarmonyOS_Sans_Regular.ttf');
  font-display: swap; /* or block, swap, fallback, optional */
}

@font-face {
  font-family: 'HarmonyOS_Sans_Bold';
  font-style: normal;
  src: url('./assets/fonts/HarmonyOS_Sans_Bold.ttf');
  font-display: swap; /* or block, swap, fallback, optional */
}

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: var(--font);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

canvas {
  display: block;
}

.hidden {
  display: none !important;
}
