@import './style/variable.css';

@font-face {
  font-family: 'HarmonyOS_Sans_Regular';
  font-style: normal;
  src: url('./assets/fonts/HarmonyOS_Sans_Regular.ttf');
  font-display: swap; /* or block, swap, fallback, optional */
}

@font-face {
  font-family: 'HarmonyOS_Sans_Bold';
  font-style: normal;
  src: url('./assets/fonts/HarmonyOS_Sans_Bold.ttf');
  font-display: swap; /* or block, swap, fallback, optional */
}

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: var(--font);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

.hidden {
  display: none !important;
}

/** popup形式下的菜单不显示icon */
.ant-menu-submenu-popup .ant-menu-item-icon {
  display: none !important;
}

/** popup形式下的菜单不保留icon的右侧文字间隔 */
.ant-menu-submenu-popup .ant-menu-title-content {
  margin-right: 10px !important;
  margin-left: 0 !important;
}

/** popup形式下的菜单 Title边距撑开 */
.ant-menu-submenu-popup .ant-menu-submenu-title {
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 16px !important;
}

.ant-menu .ant-menu-submenu-title .anticon {
  min-width: 14px !important;
  font-size: 14px !important;
}

.ant-menu .ant-menu-item {
  border-radius: 6px !important;
}

.ant-menu-submenu-title:hover {
  border-radius: 6px !important;
}
